<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220230233383-rvhepj0jd3jag883eis2hg8d3a75tqti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220230233383-rvhepj0jd3jag883eis2hg8d3a75tqti</string>
	<key>API_KEY</key>
	<string>AIzaSyAguEpjvYkToQeaVOLdNo7a8UqVW3p9flc</string>
	<key>GCM_SENDER_ID</key>
	<string>220230233383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.twoagree</string>
	<key>PROJECT_ID</key>
	<string>twoagreeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>twoagreeapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220230233383:ios:42f0003be0b4d6dd380d02</string>
	<key>DATABASE_URL</key>
	<string>https://twoagreeapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>